@charset "utf-8";

.short-table {
    display: block;
    overflow: auto;
    overflow-x: hidden;
    margin-bottom: 0rem;
    border: 0;
}
.short-table th {
    padding: 0.2rem 0rem 0.2rem 0.3rem;
}
.short-table th span {
    font-size: 0.8rem;
}
.short-table td {
    padding: 0;
    font-size: 0.7rem;
}
.short-table input {
    margin: 0;
    font-size: 0.7rem;
    padding: 0 0.2rem 0 0.2rem;
    height: 1.4rem;
}
.short-table td span {
    font-size: 0.7rem;
    padding: 0.2rem;
}
.short-table .color {
    color: #000;
    padding-left: 1rem;
    margin-left: 0.2rem;
}
.short-table .color:hover {
    font-weight: bold;
}
.short-table .invalid {
    background: rgba(240, 138, 36, 0.7);
}